:root {
    --primary-color: #135d10;
    --secondary-color: #91f295;
    --accent-color1: #5d2f04;
    --accent-color2: #135d04;
    --text-color: #cbf282;
    --sections-color: #425f0c;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    background-color: var(--primary-color);
    padding: 1rem;
}

header img {
    padding: 0;
    background-color: var(--secondary-color);
    border: 2px solid var(--accent-color1);
}

ul {
    display: flex;
    list-style: none;
}

nav a {
    color: var(--accent-color1);
}

header nav a {
    padding: 10px 3rem 10px 3rem;
    margin: 0;
    background-color: var(--secondary-color);
    border: 2px solid var(--accent-color1);
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
    font-size: 1rem;
}

header,
main,
footer {
    width: 83rem;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent-color2);
}

nav,
p,
article,
section {
    margin: 1rem;
    padding: 0.5rem;
}

.grid1 {
    display: grid;
    grid-template: 1fr 3fr / 1fr 18rem 1fr;
    border: 1px solid var(--accent-color1);
    background-color: var(--sections-color);
    color: var(--text-color);
}

.grid1 h2 {
    grid-column: span 4;
    grid-row: 1;
}

.grid1 img,
.grid1 p {
    justify-self: center;
    align-self: center;
}

.grid1 img {
    width: 16rem;
    order: 1;
    border: 2px solid var(--accent-color1);
}

#p1 {
    order: 1;
}

.grid2 {
    display: grid;
    grid-template: 1fr 3fr / 1fr;
    border: 1px solid var(--accent-color1);
    background-color: var(--sections-color);
    color: var(--text-color);
}

.grid2 ul {
    justify-self: center;
    align-self: center;
}

.grid2 ul li {
    padding: 0;
    margin: 10px 2rem 0px 2rem;
}

figure img {
    padding-bottom: 5px;
}

figcaption {
    text-align: center;
}

section img {
    width: 12rem;
    height: auto;
}

h2 {
    text-align: center;
    background-color: var(--secondary-color);
    padding: 1rem;
}

.socialmedia {
    position: absolute;
    left: 83%;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    width: 3rem;
    height: auto;
    padding: 5px;
    background-color: var(--sections-color);
    border: 1px solid var(--accent-color1)
}

.hero {
    position: relative;
}

.hero img {
    margin-top: 1rem;
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 2.5rem;
    width: 100%;
    height: 4rem;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--accent-color2);
    opacity: 0.8;
    font-size: 3rem;
}

.hero article {
    position: absolute;
    top: 72.8%;
    background-color: var(--accent-color2);
    color: var(--secondary-color);
    opacity: 0.9;
    border: 1px solid var(--accent-color1);
}

.hero article img {
    width: 12rem;
    height: auto;
    float: right;
    margin: 1rem;
    border: 3px solid var(--accent-color1);
}

footer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 1.3rem;
}

footer p {
    color: var(--secondary-color);
}

/* Contact Page Styling */

#main-contact-grid {
    display: grid;
    grid-template: 1fr 3fr / 1fr 1fr;
    align-items: center;
    margin: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.company-info {
    grid-column: span 2;
    justify-self: center;
    align-self: flex-start;
    text-align: center;
    margin-bottom: 0.4rem;
}

.company-info h1,
p {
    margin: 0;
    padding: 0.1rem;
}

.company-info h1 {
    font-size: 2.5rem;
}

.company-info p {
    font-size: large;
}

form {
    display: grid;
    width: 70%;
}

.form-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0 0 5px 0;
    padding: 10px;
    align-items: end;
}

label {
    font-size: medium;
    font-weight: 500;
}

input {
    font-size: medium;
    padding: 5px;
}

.radio-section {
    display: grid;
    grid-template: 1fr 3fr / 1fr 30px 3fr;
    align-items: center;
}

#main-radio-label {
    grid-row: 1/4;
}

label[for="message"] {
    grid-column: span 2;
    margin-bottom: 5px;
}

textarea {
    padding: 10px;
    width: 30rem;
    font-size: medium;
}

.message {
    margin-bottom: 0;
    padding-bottom: 0;
}

.checkbox {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.checkbox input {
    margin-right: 0.5rem;
    width: 20px;
    height: 20px;
}

button {
    font-size: larger;
    padding: 0.8rem;
    background-color: #c3dbc5;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

iframe {
    border: 2px solid var(--accent-color1);
}

.contacts-grid {
    display: grid;
    grid-template: 1fr 3fr / 1fr;
    border: 1px solid var(--accent-color1);
    background-color: var(--sections-color);
    color: var(--text-color);
}

.contacts-grid ul {
    justify-self: center;
    align-self: center;
}

.contacts-grid ul li {
    padding: 0;
    margin: 10px 5rem 0px 5rem;
}

.contacts-grid figure img {
    box-shadow: 0 0 15px var(--accent-color1);
}

.contacts-grid figcaption {
    margin-top: 0.5rem;
}