:root {
    --primary-color: #7A1F1A;
    --secondary-color: #D8A039;
    --accent1-color: #2F4F2F;
    --accent2-color: #E8D8B5;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}