* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    margin: 0 auto;
    margin-top: 5rem;
    border-collapse: collapse;
    border: 2px solid gray;
    font-family: "Roboto Mono", monospace;
}

thead,
tfoot {
    background-color: black;
    color: white;
}

th,
td {
    padding: 10px 20px 10px 20px;
    border: 1.5px solid gray;
    text-align: center;
}

.middle-row {
    background-color: rgb(236, 235, 235);
}

.zone {
    font-weight: 1000;
}