:root {
    --primary-color: darkblue;
    --complemental-color: black;
    --text-alignment: center;
    --maximum-width: 82.5rem;
    --image-height: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Georgia, Arial, Sans-serif;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
    margin: 0 0 1rem 0;
}

h2 {
    text-align: var(--text-alignment);
    position: absolute;
    top: 1.5rem;
    left: 34rem;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--complemental-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    margin: 0 0 0.5rem 0;
    padding: 0;
}

li {
    padding: 0.2rem;
}

main {
    max-width: var(--maximum-width);
    margin: 1.5rem 1rem 1rem 1rem;
}

aside {
    width: var(--maximum-width);
    text-align: center;
    position: relative;
}

aside img {
    width: 20rem;
    height: var(--image-height);
    margin: 0 0 1rem 0;
}

main img {
    width: 150px;
    height: var(--image-height);
    border: 1px solid var(--primary-color);
    padding: 0;
    box-shadow: 0 0 5px var(--primary-color);
    float: right;
    margin: 0 0 1rem 1rem;
}

footer {
    margin-top: 2rem;
    border-top: 2px solid var(--primary-color);
    text-align: var(--text-alignment);
}

/* Class Selectors */
.box {
    margin: 1.5rem 1rem 1rem 1rem;
    border: 2px dotted var(--primary-color);
    padding: 1rem 1rem 1rem 2.3rem;
    background-color: lightblue;
    color: var(--complemental-color);
}