nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

h2 {
    text-align: center;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 78rem;
}

aside {
    width: 78rem;
    margin: 1rem;
    border: 2px dotted darkblue;
    padding: 1rem 1rem 1rem 2.3rem;
    background-color: lightblue;
    color: black;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid darkblue;
    padding: 0;
    box-shadow: 0 0 5px darkblue;
}

footer {
    margin-top: 2rem;
    border-top: 2px solid darkblue;
    text-align: center;
}