:root {
    --primary-color: darkblue;
    --complemental-color: black;
    --text-alignment: center;
    --maximum-width: 78rem;
    --image-height: auto;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

h2 {
    text-align: var(--text-alignment);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--complemental-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: var(--maximum-width);
}

aside {
    width: var(--maximum-width);
    margin: 1.5rem 1rem 1rem 1rem;
    border: 2px dotted var(--primary-color);
    padding: 1rem 1rem 1rem 2.3rem;
    background-color: lightblue;
    color: var(--complemental-color);
}

aside img {
    width: 200px;
    height: var(--image-height);
}

main img {
    width: 150px;
    height: var(--image-height);
    border: 1px solid var(--primary-color);
    padding: 0;
    box-shadow: 0 0 5px var(--primary-color);
}

footer {
    margin-top: 2rem;
    border-top: 2px solid var(--primary-color);
    text-align: var(--text-alignment);
}